<p-badge value="Number of jokes: {{jokeCount}}" size="large" severity="success">Number of Jokes</p-badge>
<div class="center-screen">

<p-progressSpinner *ngIf="!forecasts || forecasts.setup ==''"></p-progressSpinner>
<div  *ngIf="forecasts && forecasts.setup !=''" id="container" >
<p-card header="Dad Joke!" [style]="{width: '360px'}"  styleClass="shadow-2">
    <ng-template pTemplate="header">
        <img alt="Card" [src]="getLinkPicture()">
    </ng-template>
    <p>{{forecasts.setup}}</p>
    <p style="text-decoration: underline;">{{ forecasts.punchline }}</p>
    <ng-template pTemplate="footer">
        <p-button label="Next joke!" icon="pi pi-arrow-right" (onClick)="getNextJoke()"></p-button>
    </ng-template>
</p-card>


    </div>
</div>